/* <!--
Notes
--> */


/* the styles for the elements */
body {
    background-image: url("../Images/background.png");
    background-color: #cccccc;
    background-position: center;
	font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    margin: 0 auto;
    padding: 0;
    border: 3px solid darkslategray;
    box-shadow: 0 10px 20px 10px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
    font-weight: bold;
}

/* the styles for the header */
header {
    background-image: url("../Images/Icon_b.png");
    padding: 15px 30px;
    border-bottom: 2px solid rgb(174, 233, 233);
    border-radius: 1%; 
}

header h2 {
    background-image: url("../Images/Sunset_alt.png");
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 265%;
	font-style: italic;
	color: rgb(248, 207, 191);
	text-shadow: 2px 2px 2px darkslategray;
    text-decoration: underline;
    margin-bottom: .03em;
    border: black;
    border-radius: 80px;
    border-style: inset;
}
header h3 {
	font-size: 150%;
    text-indent: 0px;
    padding-bottom: .75em;       
}

/* the styles for the navigation menu */
#nav_menu {
	clear: left;
    border-bottom: 2px solid darkblue;
}
#nav_menu ul {
	list-style: none;
	position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
#nav_menu ul li {
    flex-basis: 20%;
	float: left;
    display: block;
    padding: 0;
    padding-left: 1%;
    text-decoration: overline;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 180px;
	padding: .7em 0;
	background-color: darkcyan;
    font-weight: bold;
	color: white
    ;
}
#nav_menu ul li a.current {
	color: black;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: forestgreen;
}
main {
    display: flex;
}

/* the styles for the section */
section {
    padding: 1.5625em 3.3333%;
    flex-basis: 73%;
    order: 2;
    width: 680px;
	float: right;
    padding: 25px 30px 0 30px;
    background-blend-mode: hard-light;
    background: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template: "main" auto "section" auto / 100%;
}

section h1 {
    background-image: linear-gradient(to bottom, rgba(76, 175, 80, 0.3), rgba(76, 175, 175, 0.3));
    font-size: 160%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: .3em;
}
section h2 {
    background: rgba(64, 167, 231, 0.2);
    font-size: 130%;
    margin-bottom: .5em;
}
section h3 {
    background-image: linear-gradient(to bottom, rgba(35, 62, 57, 0.3), rgba(20, 235, 235, 0.3));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: maroon;
    font-size: 110%;
    margin-bottom: .4em;
    letter-spacing: .09rem; 

}
section h5 {
    display: none !important;
}

section p {
    background-image: linear-gradient(to bottom, rgba(26, 32, 32, 0.2), rgba(58, 110, 107, 0.2));
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: .7em;
}
section .rightImage {
    float: right;
    margin-left: 1em;
    border: 1px solid black;
}
section a:link, section a:visited { 
    color: maroon;
}
section a:hover, section a:focus {
    color: darkslategray;
}

.button {
	display: inline-block;
	padding: 2em 2em;
	font-size: 3em;
	font-weight: bold;
    text-decoration: overline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #0077ff;
	border-radius: 1em;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.button:hover {
	transform: translateY(-0.1em);
	box-shadow: 0 0.75em 1.5em rgba(0, 0, 0, 0.2);
}

.type2 {
    border: 1px solid #080808;
    box-shadow: 2px 2px 4px #aaa;
}
.type2 blockquote {
    font-size: 20px;
    color: #333;
    font-style: italic;
}
.type2:hover {
    background-color: #ddd;
}

.type2 {
    animation: fade-in 1s ease-out;
}
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.demo-typewriter span {
    background-image: linear-gradient(to bottom, rgba(35, 62, 57, 0.3), rgba(49, 231, 231, 0.3));
    background-color: #f0f5ee;
    color: #262626;
    overflow: hidden;   
    border-right: .25em solid #FF8D8D;
    white-space: pre-wrap;   
    margin: 0 auto;   
    letter-spacing: .33rem;   
    animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
  }
.type2 span {
    background-image: linear-gradient(to bottom, rgba(35, 62, 57, 0.3), rgba(20, 235, 235, 0.3));
    background-color: #f0f5ee;
    color: #262626;
    overflow: hidden;   
    border-right: 42.5em solid #FF8D8D;
    white-space: pre-wrap;   
    margin: 0 auto;   
    letter-spacing: .1rem;   
    animation: demo-typewriter 3s steps(30, end), demo-cursor 2s step-end infinite;    
  }

  .video-container {
    width: 60%; /* Set a fixed width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  video {
    width: 130%; /* Set the  wide video container */
    display: block;
    margin: 0 auto; /* Center the video horizontally within its container */
  }
  
  

/* This is a scroll container I learned from web. Will utilize it later.  */

.scroll-container {
    width: 680px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  .scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .scroll-page-1 {
      background: #f7edb6;
  }
  
  .scroll-page-2 {
      background: #bceba9;
  }
  
  .scroll-page-3 {
      background: #b8b7cd;
  }


/* Below I tried to make the entire body fade when the aside image is hovered. But I cannot get it to work.  */ 
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none; /* allows mouse events to pass through */
    display: none; /* initially hidden */
    z-index: 0;
    transition: background-color .5s;
}
#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
#cf img.top:hover {
    opacity:0;
  }

/* the styles for the sidebar */
aside {
    padding: 1.5625em 0 0 3.3333%;
    flex-basis: 27%;
    order: 1;
    background: rgba(255, 255, 255, 0.5);
    width: 150px;
	float: left;
    padding: 5px 30px 25px 30px;
}
aside h2 {
	font-size: 80%;
    margin: 2px;   
    margin-bottom: 8px;
    background: rgba(251, 216, 216, 0.5);

}
aside h3 {
	font-size: 100%;
    margin: 0px;   
    margin-bottom: 8px;
    background: rgba(210, 246, 181, 0.732);

}
aside ul {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(120, 215, 215, 0.3));
    line-height: 1.8;
    margin: 18%;
    border: black;
    border-radius: 50px;
    border-style: dotted;
}

aside figure {
    
    float: none;
    margin-right: 1.5em;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(120, 215, 215, 0.3));
    line-height: 5;
    margin: 20%;
    border: black;
    border-radius: 80px;
    border-style: inset;
    

}
aside figure img {
    position: absolute;
    float: none;
    margin-left: -2em;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(120, 215, 215, 0.3));
    line-height: 5;
    border: 2px solid black;
    border-radius: 80px;

}
aside figure img:hover {
    filter: brightness(200%);
    opacity: 20;
    transition-delay: 120ms;
    cursor: pointer;
    z-index: 1;
}
aside figure img:hover + #overlay {
    display: block; /* show the overlay when hovering over image */
}
aside figure img:hover ~ body {
    filter: blur(5px); /* blur body when hovering over image */
}

aside figcaption {
    display: block;
    text-decoration: overline;
    font-size: 25px;
    font-variant: small-caps;
    font-family: fantasy;
    font-weight: bold;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
aside a:link, aside a:visited {
    color: darkslategray
}
aside a:hover, aside a:focus {
    color: maroon;
}
#visual_page {
    display: block;
    width: 89%;
    padding: .5%;
    border: #262626;
}
.shadow {
    font-size: larger;
    text-shadow: 2px 2px black;
    }    
    .u {
    text-decoration: underline;
    font-weight: bold;
    }
    /* Shadow for aside heading */
span.shadow {
    text-shadow: 1px 1px 1px black;
}    
span.u {
    text-decoration: underline;
    font-weight: bold;
}
/* the styles for the footer */
footer {
    clear: both; 
	padding: 15px 30px;
    background-color: darkgray;
} 
footer p {
    background-clip: border-box;
	text-align: center;
    font-size: 85%;
    color: white;    
}
#mobile_menu {
	display: none;
}
.demo-typewriter span {
    margin: 0;
    float: left;
    width: 55% 0%;   
  }  
/* media queries */
@media only screen and (max-width: 900px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}	
    section {
        height: auto;
        margin: 0;
		float: none;
        width: 100%;
	} 
	section h5 {
        display: contents;
        font-size: larger;
        position: relative;
    } 
    aside {
        display: none;
	}
}
@media only screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }

    body {
        max-width: 540px; 
        margin: 0 auto;
    }
    
	
	#nav_menu {
		display: none;
	}
	
    
    .slicknav_menu {
        background: transparent !important;
        padding: 3px !important;
        margin: 0%;
        float: left;
    }    
	
    section h1 {
        visibility: hidden;
      }
      
    header img {
		display: none;
		margin: 0 auto;
	}
	
    header h2 {
		font-size: 200%;
        margin: auto;
        float: none;
        padding: 0%;
    }	
    header h3 {
        margin: auto;
    }
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
        position: fixed;
        top: 1%;
        left: 0;
        width: 100%;
        height: 50px; /* fixed height */
        margin-top: 50px; /* equal to the height of the navigation menu */
        z-index: 100;
        background-color: #37413ed2;
        box-shadow: 0 2px 5px rgba(194, 45, 45, 0.596);
    }
    #mobile_menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #mobile_menu li {
        display: block;
        margin: 0;
        padding: 0;
        background-color: #272424;
        border-bottom: 1px solid #ff0d0d;
    }
    #mobile_menu li:last-child {
        border-bottom: none;
    }
    #mobile_menu li a {
        display: block;
        padding: 10px 20px;
        color: #fffdfd;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    #mobile_menu li a:hover {
        background-color: #f2f2f2;
      }	
      header h2 {
		font-size: 200%;
        margin: 0;
        width: 100%;
    }
    section {
        height: auto;
        margin: 0;
		float: none;
        width: 100%;
	} 
    section h5 {
        display: contents;
        font-size: larger;
        position: relative;
    } 
	
	aside {
        display: none;
	}
    .demo-typewriter span {
        margin: 0;
		float: left;
        width: 55% 0%;
    }
    .type2 span {
        margin: 0;
        width: 55%;
    }
}
@media only screen and (max-width: 450px) {
    main {
        flex-direction: column;
    }
    body {
        max-width: 300px;
        margin: 0 auto;
    }	
	#nav_menu {
		display: none;
	}	
    .slicknav_menu {
        background: transparent !important;
        padding: 3px !important;
        margin: 0%;
        float: left;
    }	
    section h1 {
        visibility: hidden;
    }      
    header img {
		display: none;
		margin: 0 auto;
	}
    #nav_menu {
        display: none;
    }
    section {
        height: auto;
        margin: 0;
		float: none;
        width: 80%;
	}

    .type2 {
        font-family: Arial, sans-serif; /* Change the font family as needed */
        font-size: 16px; /* Change the font size as needed */
        color: #333; /* Change the text color as needed */
        background-color: #eee; /* Change the background color as needed */
        padding: 10px; /* Add padding as needed */
    }
      
      .type2 span blockquote {
        font-style: italic; /* Change the font style as needed */
        margin: 0; /* Remove default margin */
    }
      
      .type2 span blockquote i {
        font-size: 20px; /* Change the icon size as needed */
        margin-right: 5px; /* Add space between the icon and the text */
    }    
    .video-container {
        width: 100%; /* Set a full width for the container on smaller screens */
        margin: 0 auto; /* Center the container horizontally */
    }
    video {
        width: 100%; /* Set the video to be full width on smaller screens */
        display: block;
        margin: 0 auto; /* Center the video horizontally within its container */
    }
    aside {
        display: none;
	}
    header h2 {
		font-size: 180%;
	}
    header h3 {
		font-size: 115%;
	}
    section p {
	    font-size: 95%;
    }
}
@keyframes demo-typewriter {
    from { 
      width: 0;
    }
    to { 
      width: 100%;
    }
}  
@keyframes demo-cursor {
    from, to { 
      border-color: transparent;
    }
    50% { 
        border-color: #FF8D8D;
    }    
}

